<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meteoro.omdbarch.home">

    <application android:theme="@style/OmdbTheme">
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.meteoro.omdbarch.home.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>